@import "var.scss";

html,
body {
    min-height: 100%;
}

body {
    margin: 0;
    background: $bg-color url($image) no-repeat 13% bottom/38%;
    color: $text-color;
    font-family: "Helvetica", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
        Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

ul {
    list-style-type: "— ";
}

header {
    height: 50px;
    padding: $basic-padding;
    display: flex;
    flex-direction: row;
}

#content {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 50%;
    font-size: 1.6em;
    width: 50%;
    padding-right: $basic-padding;
    box-sizing: border-box;
    line-height: 1.2;
}

#content p {
    margin: 0.6em 0 0.6em 0;
}

#content a {
    color: $text-color;
    text-decoration: none;
    position: relative;
}

#content a::after {
    z-index: -1;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20%;
    width: 100%;
    height: 20%;
    transition: height 0.2s linear;
    background: lightblue;
}

#content a:hover::after {
    height: 25%;
}

#home-logo a {
    display: block;
    height: 50px;
}

#home-logo a img {
    height: 50px;
}

#home-logo {
    flex: 1;
}

#nav {
    flex: 1;
}

#nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
}

#nav-list li {
    list-style-type: none;
}

.no-link-style {
    color: $text-color;
    text-decoration: none;
}

#nav-list li a {
    color: $text-color;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;

    text-shadow: 2px 2px white;
}

.wavy-text {
    position: relative;
}

#content a.wavy-text::after {
    content: "";
    position: absolute;
    bottom: -0.38em;
    left: 0;
    right: 0;
    width: 100%;
    height: 1rem;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    transition: transform 0.3s ease;
    transform: scale(1) translateZ(0);
    animation-name: MOVE-BG;
    animation-duration: 0.6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 2;
}

#content a.wavy-text:hover::after {
    transform: scale(1.1) translateZ(0);
}

@keyframes MOVE-BG {
    0% {
        transform: scale(1) translateZ(0);
    }
    50% {
        transform: scale(1.1) translateZ(0);
    }
    100% {
        transform: scale(1) translateZ(0);
    }
}

#content a.wavy-blue::after {
    @include wave-color("00356B");
}

#content a.wavy-red::after {
    @include wave-color("FF0000");
}

#content a.wavy-orange::after {
    @include wave-color("FF7D1E");
}

#content a.wavy-black::after {
    @include wave-color("24292F");
}

@media (max-width: 480px) {
    /*header {
        flex-direction: column;
    }
    #nav-list {
        flex-direction: column;
        align-items: start;
    }
    /*body {
        background-color: red;
    }*/
    body {
        background: $bg-color url($image) no-repeat 5% bottom/50%;
    }
    #nav {
        flex: 3;
    }
    #content {
        left: 25%;
        width: 75%;
    }
}
